version: "3.8"
services:
  db:
    image: mysql:8.0
    container_name: mysql_booking
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bookingdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: thanhdat12345
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - booking_network

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - booking_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: booking_backend
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/usr/src/app
    command: ["npm", "run", "start:dev"]
    networks:
      - booking_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: booking_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
    command: ["npm", "run", "dev"]
    networks:
      - booking_network

volumes:
  db_data:

networks:
  booking_network:
    driver: bridge
